*,*::before, *::after{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.container{
    width: 85vw;
    margin: auto;
    padding-top: 15px;
    padding-left: 20px;
    box-shadow: 1px 2px 1px 2px rgb(204, 204, 204,0.7);
    margin-bottom : 10px;
    margin-top: 10px;
}
.flex{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 1.2rem;
    color: #555;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.filter label,.input label{
    margin-bottom: 10px;
    color: #555;
    font-size: 0.9em;
    position: relative
}
.input input[type = "submit"]{
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: rgb(0, 128, 128);
    padding: .4rem 1.2rem;
    font-size: 0.7rem;
    color: white;
    border-radius: 3px;
    transition: all 200ms ease-in ;
    outline: none;
    border: none;
    cursor: pointer;
}
.filter input[type = "text"],.input input[type = "text"]{
    border: none;
    outline: none;
    margin-bottom: 10px;
}
.filter label::after,.input label::after{
    content: "";
    position: absolute;
    top : 46px;
    bottom: -30px;
    left: 0;
    right :0;
    border-radius: 1px;
    background-color: #ccc;
    width: 60vw;
}
.input input[type = "Submit"]:hover{
    background-color: rgb(15, 173, 173);
}

/* second container */

.filter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.btn-black{
    background-color: rgb(48, 42, 42);
    padding: .4rem 1.2rem;
    width: 120px;
    color: white;
    border-radius:3px;
    margin-bottom: 20px;
}
.task-lists{
    list-style: none;
}

ul .list-item{
    width: 100%;
    border : 1px solid #ccc;
    padding : 5px 5px;
    margin-left: 0px;
    transform: translateX(-35px);
    display: flex;
    justify-content: space-between;
}
